@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Book Antiqua';
    src: url('../fonts/BookAntiqua-Italic.woff2') format('woff2'),
        url('../fonts/BookAntiqua-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Book Antiqua';
    src: url('../fonts/BookAntiqua.woff2') format('woff2'),
        url('../fonts/BookAntiqua.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaforTarget';
    src: url('../fonts/HelveticaforTarget-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaforTarget-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}